.smooth-scroll {
  transition: all 0.3s ease-in-out;
}



.landing-bg {
  background-image: url('images/bg5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0; /* change the value to adjust transparency */

}



.section1-bg {
  background-image: url('images/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0; /* change the value to adjust transparency */

}

.section2-bg {
  background-image: url('images/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0; /* change the value to adjust transparency */

}

.section3-bg {
  background-image: url('images/bg21.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0; /* change the value to adjust transparency */

}

.section4-bg {
  background-image: url('images/bg17.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0; /* change the value to adjust transparency */

}
.footer-bg {
  background: linear-gradient(to right, #7e7e7e 0%, #ffffff 100%);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0; /* change the value to adjust transparency */

}



.linkedin-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('images/linkedin-icon.webp') no-repeat center center / contain;
}

.github-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('images/github-logo.png') no-repeat center center / contain;
}

.linkedin-icon-small {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('images/linkedin-icon.webp') no-repeat center center / contain;
}

.github-icon-small {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('images/github-logo.png') no-repeat center center / contain;
}

.content-color{
 color: white;
}






.secondPageMainPhoto{
    height: 428px;
    width: 535px;
}


.secondPageIntro-bg {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0; /* change the value to adjust transparency */
  color:white
}
.secondPageContent-bg {
  position: relative;
  background-image: url('images/bg20.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0; /* change the value to adjust transparency */
}

.videoContainer{
    margin-top: 50px;
    margin-bottom: 50px;

}

.tableauDashboard{
    margin-top: 50px;
    padding-left:80px;
    margin-bottom: 50px;

}













/*   Contact Form css       */

#fs-frm {
  width: 100%;
  max-width: 600px;
  margin: 0 0;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top:30px;
  margin-bottom:90px;
}

#fs-frm input[type="text"],
#fs-frm input[type="email"],
#fs-frm textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-family: inherit;
}

#fs-frm textarea {
  resize: none;
}

#fs-frm label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

#fs-frm input[type="submit"] {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

#fs-frm input[type="submit"]:hover {
  background-color: #3e8e41;
}

/*---------------------------------------------------------------*/


